/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&bootloader {
};

/ {
    combos {
        compatible = "zmk,combos";

        Return_Combo {
            bindings = <&kp RET>;
            key-positions = <37 40>;
        };

        Left_Bootloader {
            bindings = <&bootloader>;
            key-positions = <16 15 14 13>;
        };

        L_GUI {
            bindings = <&kp LEFT_GUI>;
            key-positions = <16 15>;
        };

        R_GUI {
            bindings = <&kp RIGHT_GUI>;
            key-positions = <19 20>;
        };

        tp_layer {
            bindings = <&mo 4>;
            key-positions = <41 36>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "Default Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&studio_unlock  &kp Q  &kp W  &kp E  &kp R           &kp T  &kp Y  &kp U      &kp I      &kp O    &kp P     &kp BSPC
&kp LEFT_SHIFT  &kp A  &kp S  &kp D  &kp F           &kp G  &kp H  &kp J      &kp K      &kp L    &kp SEMI  &kp SQT
&bootloader     &kp Z  &kp X  &kp C  &kp V           &kp B  &kp N  &kp M      &kp COMMA  &kp DOT  &kp FSLH  &bootloader
                              &mo 1  &kp LEFT_SHIFT  &mo 3  &mo 2  &kp SPACE  &mo 5
            >;
        };

        modifier {
            display-name = "Lower Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BSPC |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &none             &none         &none           &msc SCRL_UP  &none           &none    &kp X           &kp UP_ARROW  &kp C      &kp R          &none
&none  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp LEFT_SHIFT  &kp LEFT_GUI  &msc SCRL_DOWN  &kp Z    &kp LEFT_ARROW  &kp DOWN      &kp RIGHT  &kp BACKSPACE  &kp NUMBER_4
&none  &trans            &trans        &trans          &trans        &trans          &kp H    &kp V           &kp S         &kp GRAVE  &trans         &bootloader
                                       &none           &none         &none           &kp RET  &kp TAB         &kp SPACE
            >;
        };

        num_layer {
            display-name = "Raise Layer";

            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BSPC |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp TILDE  &none          &kp CARET       &kp PLUS      &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &none         &none   &none   &none   &none   &none
&kp PIPE   &kp NUMBER_1   &kp NUMBER_2    &kp NUMBER_3  &kp NUMBER_4      &kp N5             &kp NUMBER_6  &kp N7  &kp N8  &kp N9  &kp N0  &none
&none      &kp BACKSLASH  &kp UNDERSCORE  &kp EQUAL     &kp MINUS         &none              &none         &none   &none   &none   &none   &none
                                          &trans        &trans            &trans             &trans        &trans  &trans
            >;
        };

        special_chars {
            bindings = <
&trans  &trans            &trans            &trans      &trans      &trans      &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans      &trans      &trans      &trans
&trans  &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(N3)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)      &kp LS(N7)       &kp LS(N8)  &kp LS(N9)  &kp LS(N0)  &trans
&trans  &trans            &trans            &trans      &trans      &trans      &trans          &trans           &trans      &trans      &trans      &trans
                                            &trans      &trans      &trans      &trans          &trans           &trans
            >;
        };

        tp {
            bindings = <
&kp LG(F6)  &kp LG(F2)  &kp LG(F7)  &kp LA(F3)  &kp LG(F11)  &kp LA(F4)  &none   &kp LA(F12)  &kp LA(F8)  &kp LC(F1)   &trans      &trans
&kp LG(F4)  &kp LG(F1)  &kp LG(F5)  &kp LA(F1)  &kp LG(F10)  &kp LA(F2)  &none   &kp LA(F10)  &kp LA(F7)  &kp LA(F11)  &trans      &trans
&kp LG(F8)  &kp LG(F3)  &kp LG(F9)  &kp LA(F5)  &kp LG(F12)  &kp LA(F6)  &none   &kp LC(F2)   &kp LA(F9)  &kp LC(F3)   &kp LC(F4)  &trans
                                    &trans      &trans       &trans      &trans  &trans       &trans
            >;
        };

        mouse_mov_def {
            bindings = <
&trans  &trans  &trans          &mmv MOVE_UP    &kp LEFT_SHIFT   &trans        &trans  &trans    &trans  &trans  &trans  &trans
&trans  &trans  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp LEFT_GUI  &trans  &mkp MB4  &mo 6   &mo 7   &trans  &trans
&trans  &trans  &trans          &trans          &trans           &trans        &trans  &mkp MB5  &trans  &trans  &trans  &trans
                                &trans          &mkp MB1         &mkp MB2      &trans  &trans    &trans
            >;
        };

        fast_mmv {
            bindings = <
&trans  &trans  &trans             &mmv MOVE_Y(-600)  &kp LEFT_SHIFT    &trans        &trans  &trans    &trans  &trans  &trans  &trans
&trans  &trans  &mmv MOVE_X(-600)  &mmv MOVE_Y(600)   &mmv MOVE_X(600)  &kp LEFT_GUI  &trans  &mkp MB4  &trans  &trans  &trans  &trans
&trans  &trans  &trans             &trans             &trans            &trans        &trans  &mkp MB5  &trans  &trans  &trans  &trans
                                   &trans             &mkp MB1          &mkp MB2      &trans  &trans    &trans
            >;
        };

        slow_mmv {
            bindings = <
&trans  &trans  &trans             &mmv MOVE_Y(-100)  &kp LEFT_SHIFT    &trans        &trans  &trans    &trans  &trans  &trans  &trans
&trans  &trans  &mmv MOVE_X(-100)  &mmv MOVE_Y(100)   &mmv MOVE_X(100)  &kp LEFT_GUI  &trans  &mkp MB4  &trans  &trans  &trans  &trans
&trans  &trans  &trans             &trans             &trans            &trans        &trans  &mkp MB5  &trans  &trans  &trans  &trans
                                   &trans             &mkp MB1          &mkp MB2      &trans  &trans    &trans
            >;
        };
    };
};
